.main {
  width: 100%;
  height: 5000px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNhB1aFPd-hm0RZqhlCzED3C9dk42Se2d6MA&usqp=CAU);
}

.uploaded-images {
  width: 100%;
  margin-left: 0.5%;
  margin-top: -4%;
}

.img-div {
  width: 20%;
  height: 250px;
  background-color: red;
  float: left;
  margin-left: 5%;
  margin-top: 8%;
}

.thumbnail-div {
  margin-left: 5%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #28a745;
}
